<h1>Listing feedentries</h1>
<h3> Displaying <%= @feedentries.count %> feed entries</h3>
<% @feedentries.each do |feedentry| %>
 <%= feedentry.name %></br>
 <%= feedentry.title %></br>
 <%= feedentry.summary %></br>
 <%= feedentry.keywords %></br>
 <%= feedentry.guid %></br>
 <%= link_to 'Show', feedentry %></br>
 <%= link_to 'Destroy', feedentry, method: :delete, data: { confirm: 'Are you sure?' } %></br>
<% end %>
 <!--
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Summary</th>
    <th>Url</th>
    <th>Pubon</th>
    <th>Guid</th>
    <th>Type</th> 
    <th>Article</th>
    <th>Keywords</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedentries.each do |feedentry| %>
  <tr>
    <td><%= feedentry.name %></td>
    <td><%= feedentry.title %></td>
    <td><%= feedentry.summary %></td>
    <td><%= feedentry.url %></td>
    <td><%= feedentry.pubon %></td>
    <td><%= feedentry.guid %></td>
    <td><%= feedentry.type %></td>
    <td><%= feedentry.article %></td>
    <td><%= feedentry.keywords %></td> 
    <td><%= link_to 'Show', feedentry %></td>
    <td><%= link_to 'Edit', edit_feedentry_path(feedentry) %></td>  
    <td><%= link_to 'Destroy', feedentry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
 -->
